.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 200px;
  font-size: 14px;
  position: relative;
  left: -50px;
}
.search-form input {
  text-align: center;
  color: #ababab;
  background-color: #FAFAFA;
  border: 1.2px solid #DBDBDB;
  border-radius: 2.1px;
  width: 200px;
  padding: 5px 0;
}

.search-form input::placeholder {
  color: #ababab;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.image-wrapper {
  font-size: 2rem;
  border-right: 2px solid black;
  padding-right: 25px;
  margin-right: 20px;
}

.logo-image {
  height: 100%;
}

.text-logo {
  width: auto;
  justify-self: self-start;
  height: 55px;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
  font-size: 1.5rem;
}
